html, body, div {
  margin: 0px;
  width: 100%;
  height: 100%;
}


.fixedDown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(158, 158, 158);
  width: 100%;
  height: 15%;
}

.button {
  width: 50%;
  height: 85%;
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  line-height: 350%;
  border-radius: 25%;
  background: rgb(68, 68, 68);
  color: white;
  font-size: x-large;
}

.fixedUp {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(46, 46, 46);
  width: 100%;
  height: 85%;
}


.board {
  display: flex;
  align-items: center;
  background: burlywood;
  width: 95%;
  height: 90%;
}

.storageright, .storageleft {
  border-radius: 25%;
  background: rgb(201, 131, 90);
  width: 15%;
  height: 80%;
}

.storageright {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.storageleft {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.containers {
  width: 60%;
  height: 100%;
  background:rgb(177, 139, 139);
}

.containersup, .containersdown {
  width: 100%;
  height: 50%;

}


.containersup {
  background: saddlebrown;
}

.containersdown {
  background: slateblue;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #ad7123;
  margin: 2%; 
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
  margin-left: 15%;
}

table, th, td {
  border: 1px solid black;
}

.point{
  width: 20%;
  margin-left: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.comando{
  display: inline-flex;
  margin: 2%;
  margin-top: 2%;
  margin-left: 20%;
  text-align: center;
  font-size: X-LARGE;
  background-color: antiquewhite;
}

.comandowindow{
  width: 20%;
  height: 20%;
  margin:auto;
}